 <body style="background-color: #F5F6F7;">
 {{#each orders}}
<div class="container">
   
    <article class="card">
       
        
        <div class="card-body">
         
            <h6>Order ID: OD45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Order Date:</strong> <br>{{this.date}} </div>
                    <div class="col"> <strong>Delivery Address:</strong><br> 
                          {{this.user}},<br>
                    {{this.deliveryDetails.address}},<br>
                     {{this.deliveryDetails.state}}<br>
                    {{this.deliveryDetails.city}},
                      {{this.deliveryDetails.pincode}}<br>
                    {{this.deliveryDetails.mobile}}<br>
                     </div>
                    
                    <div class="col ms-1"> <strong>Status:</strong> <br> {{this.status}} </div>
                    <div class="col"> <strong>Amount</strong> <br> {{this.totalAmount}}</div>
                
                    <div class="col"> <strong>Tracking #:</strong> <br> {{this._id}}</div>
                       
                
                </div>
                <div><p class="float-end me-3"><a href="/view-order-products/{{this._id}}" class="text-decoration-none">View Products</a></p></div>
                
            </article>
            <div class="track">
             {{#if canceled}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check mt-2"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user mt-2" ></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck mt-2"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-box mt-2"></i> </span> <span class="text text-danger">Order Cancelled</span> </div>
                {{else if Delived}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check mt-2"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user mt-2" ></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck mt-2"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-box mt-2"></i> </span> <span class="text ">Delivered</span> </div>
                {{else if order}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check mt-2"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-user mt-2" ></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-truck mt-2"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-box mt-2"></i> </span> <span class="text ">Delivered</span> </div>
                {{else if shipped}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check mt-2"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user mt-2" ></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-truck mt-2"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-box mt-2"></i> </span> <span class="text ">Delivered</span> </div>
                {{else if Arriving}}
                <div class="step active"> <span class="icon"> <i class="fa fa-check mt-2"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user mt-2" ></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck mt-2"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-box mt-2"></i> </span> <span class="text ">Delivered</span> </div>
                {{else}}
                 <div class="step active"> <span class="icon"> <i class="fa fa-check mt-2"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-user mt-2" ></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-truck mt-2"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step "> <span class="icon"> <i class="fa fa-box mt-2"></i> </span> <span class="text">Delivered</span> </div>
                {{/if}}
            </div>
            
           
            <hr>
             
            
            <a href="/" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
             {{#if canceled}}
             {{else if Delived}}
            <a  onclick="" class="btn btn-warning" data-abc="true"> Add Review</a>
              {{else}}
            <a  onclick="updateOrder('{{this._id}}')" class="btn btn-warning" data-abc="true"> <i class="fa fa-times"></i> Cancell Orders</a>
            {{/if}}
        </div>
        
    </article>
    
</div>
{{/each}}
</body>


<style>
  

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');body{background-color: #eeeeee;font-family: 'Open Sans',serif}.container{margin-top:50px;margin-bottom: 50px}.card{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 0.10rem}.card-header:first-child{border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0}.card-header{padding: 0.75rem 1.25rem;margin-bottom: 0;background-color: #fff;border-bottom: 1px solid rgba(0, 0, 0, 0.1)}.track{position: relative;background-color: #ddd;height: 7px;display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 60px;margin-top: 50px}.track .step{-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;width: 25%;margin-top: -18px;text-align: center;position: relative}.track .step.active:before{background: #FF5722}.track .step::before{height: 7px;position: absolute;content: "";width: 100%;left: 0;top: 18px}.track .step.active .icon{background: #ee5435;color: #fff}.track .icon{display: inline-block;width: 40px;height: 40px;line-height: 40px;position: relative;border-radius: 100%;background: #ddd}.track .step.active .text{font-weight: 400;color: #000}.track .text{display: block;margin-top: 7px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%}.itemside .aside{position: relative;-ms-flex-negative: 0;flex-shrink: 0}.img-sm{width: 80px;height: 80px;padding: 7px}ul.row, ul.row-sm{list-style: none;padding: 0}.itemside .info{padding-left: 15px;padding-right: 7px}.itemside .title{display: block;margin-bottom: 5px;color: #212529}p{margin-top: 0;margin-bottom: 1rem}.btn-warning{color: #ffffff;background-color: #ee5435;border-color: #ee5435;border-radius: 1px}.btn-warning:hover{color: #ffffff;background-color: #ff2b00;border-color: #ff2b00;border-radius: 1px}
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
     function updateOrder(id) {
                          {  swal({
  text: 'Are you sure want to remove profile pic ? ',
  icon:"warning",
  button: true,
  dangerMode:true,
  
})
.then((name) => {
    if(name){
    $.ajax({
      url:'/cancel-orders',
      data:{
        orderId:id,
      },
      method:'post',
      success:(response)=>{
        if(response.status){
             swal("Status Updated",{
            icon:"success"
               })
         location.reload()
        }
      }
    })
    }
    })
     }                   
  }
</script>